.wrapper-about {
  .content-row {
    padding: 10px 0;
    &:first-child {
      padding-top: 0;
    }
    .content-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 8px;
    }
    .content-text {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
    }
  }
}
